* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.version-b,
.version-c {
  display: none !important;
}
.container[variante='b'] .version-b {
  display: flex !important;
}
.container[variante='b'] .version-a {
  display: none !important;
}
.container[variante='c'] .version-c {
  display: flex !important;
}
.container[variante='c'] .version-a {
  display: none !important;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-card {
  height: 200px;
  width: 80%;
  display: flex;
  align-items: center;
  gap: 20px;
  overflow-x: auto;
  padding: 0 20px;
}
.container-card::-webkit-scrollbar {
  display: none; /* Ocultar scroll */
}

.card {
  height: 150px;
  min-width: 150px;
  border-radius: 50%;
  background-color: gray;
}

.bg-red {
  background-color: red;
}
.bg-blue {
  background-color: blue;
}
.bg-green {
  background-color: green;
}
